*{
  padding: 10;
  margin: 0;
}

.App {
  text-align: center;
  box-sizing: border-box;
}

.App{
 border: 2 px;
 border-color: black;
}

/* .boardrow{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  
  .boardcontainer{
    margin: 20px;
  }

*/